<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/arti">back</a>
<form action="/add" method="post">
    <label for="tit">assss</label>
    <input id="tit" type="text" name="Title">
    <label for="desc">saaaaaaa</label>
    <input id="desc" type="text" name="Article">
    <input type="submit" name="submit">
</form>
</body>
</html>