<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>first art</h1>
        <a href="/add">addart</a>
        <p> hallo world</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, nisi aliquid, dolorem debitis ipsa nobis optio, possimus pariatur ad dolore illum perspiciatis explicabo veritatis blanditiis quam voluptas minima nostrum. Placeat.</p>
    </div>
    <% if( A == true ){ %>
        <% for(let i=articles.length-1 ; i >0 ; i--){ %>
            <h1><%=articles[i].Title%></h1>
            <a href="/add/<%= articles[i]._id %>">addart</a>
            <p> <%= articles[i].Article %></p>

         <%}%>  
         <%}%> 
</body>
</html>