<%- include ("./parties/head") %>
<body>
    <div>
        <a href="/">back</a>
    <h1><%= article.Title%></h1>
     <p> <%= article.Article %></p>
    </div>
    <form action="/add/:id" method="post">
        <input type="submit" name="del" value="Delete">
    </form>
    
    <a href="/edit">edit</a>
</body>
</html>